In [1]:
import pandas as pd
d = {'name' : ['Shivam','Somya','Surbhi'], 'age' : [18,22,24]}
df = pd.DataFrame(d)
ds = pd.Series(d)
print(df)
print(ds)
print(pd.DataFrame(d))
print(pd.Series(d))

     name  age
0  Shivam   18
1   Somya   22
2  Surbhi   24
name    [Shivam, Somya, Surbhi]
age                [18, 22, 24]
dtype: object
     name  age
0  Shivam   18
1   Somya   22
2  Surbhi   24
name    [Shivam, Somya, Surbhi]
age                [18, 22, 24]
dtype: object

In [2]:
print(ds['age'])

[18, 22, 24]

In [3]:
import pandas as pd
df = pd.read_csv("iris.csv")
print(df)

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [4]:
print((pd.DataFrame(d)).loc[2])

name    Surbhi
age         24
Name: 2, dtype: object

In [5]:
print(df.loc[2])

Id                         3
SepalLengthCm            4.7
SepalWidthCm             3.2
PetalLengthCm            1.3
PetalWidthCm             0.2
Species          Iris-setosa
Name: 2, dtype: object

In [6]:
print(df.loc[[i for i in range(0,3)]])

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [7]:
print(df.loc[0:2])

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [8]:
print(df.loc[:])

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]

In [9]:
print(df.loc[-2:-1])

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [10]:
di = pd.DataFrame(df,index = ['a','b','c'])
print(di)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm Species
a NaN            NaN           NaN            NaN           NaN     NaN
b NaN            NaN           NaN            NaN           NaN     NaN
c NaN            NaN           NaN            NaN           NaN     NaN